{#
/**
 * @file
 * Theme override to display a node.
 *
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.

 <a class="node-link" href="#">
    <div class="trailer-model">
      <div class="trailer-model__img">
        <img src="../images/enkele-as.jpg" alt="">
      </div>
      <div class="trailer-model__caption">
        enkele as
      </div>
    </div>
  </a>
 */
#}
{%
  set classes = [
    'node',
    'node-link',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
{{ attach_library('classy/node') }}
<a href="{{url}}" {{ attributes.addClass(classes) }}>

  <div{{ content_attributes.addClass('trailer-model') }}>
    <div class="trailer-model__img">
      {{ content.field_trailer_img }}
    </div>
    <div class="trailer-model__caption trailer-model__caption--gray">
      {{ label }}
    </div>
  </div>

</a>
