{#
/**
 * 2019-11-26
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{# start r-overlay-contact #}
<div class="r-overlay-contact">

  <div class="r-overlay-contact__inner">

    <div class="r-overlay-contact__close js-close-contact">
      <div class="c-close-btn"></div>
    </div>

    <div class="r-overlay-contact__body">
      {# block-region translatable with custom-block #}
        {{ page.contactoverlay}}
    </div>

  </div>
</div>
{# end r-overlay-contact #}

{# start r-menu-overlay #}
<div class="r-menu-overlay">
  <div class="r-menu-overlay__close js-close-menu">
      <span class="c-close-btn">&nbsp;</span>
  </div>
  <div class="r-menu-overlay__list">
    <ul>
      <li><a class="r-menu-overlay__link" href="{{ path('<front>') }}">Home</a></li>
      <li><a href="{{ base_path}}#" class="r-menu-overlay__link">Verkoop</a></li>
      <li><a href="{{ base_path}}#" class="r-menu-overlay__link">Verhuur</a></li>
      <li><a href="{{ base_path}}#" class="r-menu-overlay__link">Tweedehands</a></li>
      <li><a href="{{ base_path}}#" class="r-menu-overlay__link">Onderdelen</a></li>
    </ul>
  </div>
  <div class="r-menu-overlay__social">
    <a href="https://www.facebook.com/pts.be/">
      <img  class="social-icon" src="{{ base_path ~ directory }}/images/facebook-icon.png.png" alt="Facebook icon" />
    </a>
  </div>

</div>
{# r-menu-overlay #}

{# start region r-top-header #}
<region class="r-top-header">
  <div class="r-top-header__left">
    <div class="c-phone--mobile">
      {# no block region must be untranslatable #}
      <a class="c-phone-link" href="tel:011659845">011659845</a>
    </div>
    <div class="c-phone--desktop">
      <!-- block-region topheader-left translatable -->
      {{ page.topheaderleft }}
    </div>
  </div>
  <div class="r-top-header__right">
    <div class="c-language-selector">
      <!-- block-region languageselector -->
      {{ page.languageselector }}
    </div>
  </div>
</region>
{# end region r-top-header #}

<div class="container">
{# regions r-header and trailer region #}

  {# start region r-header #}
  <region class="r-header">

    {# Only visible on mobile contact-btn #}
    <div class="r-header__contact--mobile open-contact">
      <img src="{{ base_path ~ directory  }}/images/btn-contact.png" alt="Contact knop">
    </div>

    <div class="r-header__logo">
      <img class="r-header__logo-img" src="{{ base_path ~ directory }}/images/logo.png" alt="Logo PTS-aanhangwagenbouw">
    </div>
    
    {# convert to main-menu #}
      <div class="r-header__menu">
        <ul class="c-main-menu__items">
          <li class="c-main-menu__item">
            <a class="c-main-menu__link" href="{{ path('<front>') }}"#>Home</a>
          </li>
          <li class="c-main-menu__item"><a class="c-main-menu__link" href="{{ base_path}}"#>Verkoop</a></li>
          <li class="c-main-menu__item"><a class="c-main-menu__link" href="{{ base_path}}"#>Verhuur</a></li>
          <li class="c-main-menu__item"><a class="c-main-menu__link" href="{{ base_path}}"#>Tweedehands</a></li>
        </ul>
      </div>

      {# Only visible on mobile menu-btn #}
      <div class="r-header__menu--mobile">
        <div class="c-hamburger-btn">
          <span class="c-hamburger-btn--open">&nbsp;</span>
        </div>
      </div>

    </region>
    {# end region r-header #}

</div>
{# end container #}